<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Fractal Scope</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li id="">
                    <a href="#"></a>
                </li>
                <!--<li class="dropdown" id="fractal-change">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">FractalImage<span class="caret"></span></a>
                    <ul class="dropdown-menu" id="fractal-change-menu"></ul>

                <li id="fractal-name">
                    <span class="label label-info">Name</span>
                </li></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="test">
                    <a id="about-icon" href="#">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- <img id="scream" src="the-scream.jpg" alt="The Scream" width="512" height="512"> -->
<!-- <canvas id="myCanvas" width="1280" height="640" style="border:1px solid #d3d3d3;">
Your browser does not support the HTML5 canvas tag.</canvas> -->

<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <table width="100%">
                                <tbody>
                                    <tr>
                                        <td>
                                            <span class="text-info fractal-element">Iteration: </span>
                                            <div class="select fractal-element" (change)='onIterationTypeChanged()'>
                                                <select [(ngModel)]='selectedIterationType'>
                                                    <option *ngFor="let type of iterationTypes" [value]="type">{{getIterationType(type)}}</option>
                                                </select>
                                            </div>
                                        </td>

                                        <td>
                                            <span class="text-info fractal-element">Equation:</span>
                                            <div class="select fractal-element" (change)='onFractalChanged()'>
                                                <select [(ngModel)]='selectedFractalType'>
                                                    <option *ngFor="let fractalType of fractalTypes" [value]="fractalType">{{getFractalType(fractalType)}}</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="text-info fractal-element">Color: </span>
                                            <div class="select fractal-element" (change)='onColorTypeChanged()'>
                                                <select [(ngModel)]='selectedColorType'>
                                                    <option *ngFor="let type of colorTypes" [value]="type">{{getColorType(type)}}</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <form class="form-inline">
                            <div class="form-group">
                                <table width="100%">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="text-info fractal-element">z(real)-init:</span>
                                                <input id="x_re_input" type="number" class="form-control-plaintext fractal-element" (keydown)="handleKeyDown2($event)" [ngModelOptions]="{standalone: true}"
                                                    [(ngModel)]="zRe">
                                            </td>
                                            <td width="50px">
                                                <span class="text-info fractal-element">z(imag)-init:</span>
                                                <input id="x_im_input" type="number" class="form-control-plaintext fractal-element" (keydown)="handleKeyDown2($event)" [ngModelOptions]="{standalone: true}"
                                                    [(ngModel)]="zIm">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="text-info fractal-element">max iterations:</span>
                                                <input style="width:50px" id="max_iter_input" type="number" class="form-control-plaintext fractal-element" (keydown)="handleKeyDown2($event)"
                                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="maxIterations">
                                            </td>
                                            <td>
                                                <span class="text-info fractal-element">escape radius:</span>
                                                <input style="width:50px" id="escape" type="number" class="form-control-plaintext fractal-element" (keydown)="handleKeyDown2($event)"
                                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="escapeRadius">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                    <div *ngIf="selectedIterationType==1" class="panel panel-default" id="julia-picker">
                        <div class="panel-heading">
                            Julia Selector - Click around fractal image to generate new Julia Sets!</div>
                        <div class="panel-body">
                            <form class="form-inline">
                                <div class="form-group">
                                    <table width="100%">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <span class="text-info fractal-element">c(real):</span>
                                                </td>
                                                <td>
                                                    <input id="c_re_input" type="number" class="form-control-plaintext fractal-element" (keydown)="handleKeyDown($event)" [ngModelOptions]="{standalone: true}"
                                                        [(ngModel)]="cRe">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="text-info fractal-element">c(imag):</span>
                                                </td>
                                                <td>
                                                    <input id="c_im_input" type="number" class="form-control-plaintext fractal-element" (keydown)="handleKeyDown($event)" [ngModelOptions]="{standalone: true}"
                                                        [(ngModel)]="cIm">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                            <div style="text-align:center;" class="fractal-element">
                                <canvas id="julia-picker-image" width="256" height="256" style="text-align:center;" (click)='onJuliaPickerImageClicked($event)'></canvas>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- <div *ngIf="true" class="panel panel-default" id="fractal-info">
                    <div class="panel-heading">

                    </div>

                </div> -->
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="panel panel-default" id="fractal-panel">
                    <div class="panel-heading">
                        <form>
                            <div class="form-group">
                                <div style="margin-bottom:5px">
                                  
                                    <span class="text-info">Zoom Panel - Click to Zoom!</span>
                                    <button id="reset-button" class="btn-sm fractal-element2" type="button" (click)="handleResetClick($event)">Reset</button>&nbsp;

                                    <label *ngIf="computing" class="label label-success">Computing</label>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div style="text-align:center;" class="panel-body">
                        <canvas id="fractal-image" width="512" height="512" style="border:1px solid #d3d3d3;text-align:center;cursor:crosshair" (click)='onFractalImageClicked($event)'></canvas>
                        <!-- <div><img alt="" class="img-circle"  width="512" height="512" id="fractal-image" src="" style="text-align:center;cursor:crosshair" (click)='onFractalImageClicked($event)'></div> -->
                    </div>
                    <div class="panel-heading">
                        <form class="form-inline">
                            <div class="form-group">
                                <table width="100%">
                                    <tbody>
                                        <tr>
                                            <td>

                                                <span class="text-info ">x-left:</span>
                                                <input id="region_x_input" type="number" class="form-control-plaintext fractal-element2" (keydown)="handleKeyDownRegion($event)" [ngModelOptions]="{standalone: true}"
                                                    [(ngModel)]="region.x">
                                            </td>
                                            <td>

                                                <span class="text-info ">y-top:</span>
                                                <input id="region_y_input" type="number" class="form-control-plaintext fractal-element2" (keydown)="handleKeyDownRegion($event)" [ngModelOptions]="{standalone: true}"
                                                    [(ngModel)]="region.y">
                                            </td>

                                            <td>
                                                <span class="text-info ">dims:</span>
                                                <input id="region_dim_input" type="number" class="form-control-plaintext fractal-element2" (keydown)="handleKeyDownRegion($event)" [ngModelOptions]="{standalone: true}"
                                                    [(ngModel)]="region.width">
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="container">
    <div class="panel panel-default">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <!-- Start of FB Code -->
                <div class=" fb-like" data-action="like" data-href="http://fractalscope.herokuapp.com" data-layout="button_count" data-share="true"
                    data-show-faces="true">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
                <script type="IN/Share" data-url="http://fractalscope.herokuapp.com" data-counter="right"></script>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div>
                    <script src="https://apis.google.com/js/platform.js" async defer data-href="http://fractalscope.herokuapp.com"></script>
                    <!-- <g:plus action="share"></g:plus> -->
                </div>
            </div>
        </div>

        <p></p>
        <!-- Start of SimpleHitCounter Code -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <img alt="web counter" border="0" height="18" src="http://simplehitcounter.com/hit.php?uid=1991956&f=16777215&b=0" width="83"> visits
            </div>
        </div>
    </div>
</div>


<!-- set up the modal to start hidden and fade in and out -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- dialog body -->
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                Fractal Scope
                <br> Version: BETA
                <br> Author: Bob Sheehan
                <br>
                <br>
                <!-- Start of FB Code -->
                <div class=" fb-like" data-action="like" data-href="http://fscope.herokuapp.com" data-layout="button_count" data-share="true"
                    data-show-faces="true">
                </div>
            </div>

            <!-- dialog buttons -->
            <div class="modal-footer">
                <button type="button" id="ok-button" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>