html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}
/* 
a.active {
  background-color: gray;
} */

.fractal-element {
  margin-top:0px;
  margin-bottom: 5px;
}

.fractal-element2 {
  margin-left:0px;
  margin-right: 5px;
}